{{ if .Site.Data.homepage.faq.enable }}
<section class="faq section" id="faq">
  <div class="container">
    {{ with .Site.Data.homepage.faq }}
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
          <p>Click a question or button to expand an answer</p>
        </div>
      </div>
      {{ range $i, $e := .items }}
      <div class="col-lg-6 col-sm-6 mb-5 mb-lg-0 text-center">
        <div class="faq-block">
          <div class="author-details">
            <h4 data-toggle="collapse" data-target="#id{{ $i }}">{{ $e.question }}<i class="faq-icon tf-ion-chatbubbles"></i></h4>
            <div id="id{{ $i }}" class="collapse">
            {{ range $e.answers }}
              <p class="answer">{{ . | markdownify }}</p>
            {{ end }}
            {{ range $e.answerList }}
              {{ if .link }}
                <li class="subanswer"><a href={{ .link }} >{{ .content | markdownify }}</a></li>
              {{ else }}
                <li class="subanswer">{{ .content | markdownify }}</li>
              {{ end }}
            {{ end }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
