{{- if .Site.Data.homepage.use.enable }}
{{- with .Site.Data.homepage.use }}
<section class="section bg-orange text-white" id="use">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2 class="text-white">{{ .title | markdownify }}</h2>
        </div>
      </div>
      {{ range .items }}
      <div class="col-md-4">
        <div class="mb-40 text-center text-md-left">
          <h3 class="text-center font-weight-bold mb-4">{{ .title | markdownify }}</h3>
          {{ range .content }}
          <p>{{ . | markdownify }}</p>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}
