{{- if .Site.Data.homepage.use.enable }}
{{- with .Site.Data.homepage.use }}
<section class="section bg-orange text-white" id="use">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2 class="text-white">{{ .title | markdownify }}</h2>
        </div>
      </div>
      <div class="col-md-6">
        {{ range .leftSide }}
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 {{ .icon }}"></i>
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
      <div class="col-md-6">
          {{ range .rightSide }}
        <div class="mb-40 text-center text-md-left">
          <i class="d-inlin-block h2 mb-10 {{ .icon }}"></i>
          <h4 class="font-weight-bold mb-2">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
        </div>
        {{ end }}
      </div>
    </div>
  </div><!-- .container close -->
</section>
{{- end }}
{{- end }}
