{{ if .Site.Data.homepage.promo.enable }}
{{ with .Site.Data.homepage.promo }}
<section class="bg-orange section gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <div class="single-gallery-slider">
          {{- $basePath := relURL .directory }}
          {{- range .images }}
          <div class="block">
            <img class="img-fluid" src="{{ $basePath }}/{{ . }}" alt="">
          </div>
          {{- end }}
        </div>
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h2 class="subheading text-white font-weight-bold mb-10">{{ .title | markdownify }}</h2>
          <p class="text-white">{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
